* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

/* Style the header */
.header {
  position: fixed;
  background-color: Black;
  padding: 5px;
  text-align: Left;
  font-size: 10px;
  color: White; 
  width:100%
}

/* Left and right column */
.column.side {
  width: 20%;
}

.column {
  margin-top: 50px; 
  float: left;
  height: 100vh
}

/* Middle column */
.column.middle {
  width: 60%;
  Background-color:	#282828
}

/* Style the footer */
.footer {
  background-color: black;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
