* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
 color:white;
  text-align: center;
}

p {
font-size: 1em; 
}

h2 {
font-size: 1.5em; 
}
h3{
 font-size: 1.2em; 
}

/*linkstijl*/
a{
color: #5daee6ff;
text-decoration: none;
}
a:hover {
  color: #266ab5ff;
  text-decoration: none;
}

/* Style the header */
.header {
  position: fixed;
  background-color:#101010;
  padding: 5px;
  text-align: Left;
  font-size: 0.6em;
  color: #5daee6ff;
  width:100%
}


.column {
  margin-top: 50px; 
  float: left;
  height: 100vh;
}

/* Left and right column */
.column.side {
  width: 15%;
  background-image: url('846241.jpg');"
  background-attachment: top;
}

/* Middle column */
.column.middle {
  Background-color: #202020;
  padding-top: 1vh;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 5vh;
  height: auto;
  min-height: 100vh;
  width: 70%;
}

/* Style the footer */
.footer {
  font-size: 1em;
  background-color: #101010;
  padding: 2vh;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Bronnen{
  background-color: #202020;
  padding: 0.3vw;
  margin: 5%;
  margin-top: 3vh;
  border: 2px white;
}  